<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/dark.min.css"
        />
        <link rel="stylesheet" href="../css/style.css" />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="../img/icon/logo.png"
        />
        <title>Computed Properties</title>
    </head>
    <body>
        <div id="app">
            <header-template></header-template>
            <div class="container">
                <h1>Computed Properties</h1>
                <section :class="classes">
                    <p>
                        Une 'Computed Property' est un objet qui contient des
                        méthodes
                    </p>
                    <p>
                        C'est l'équivalent du Data Object mais dynamique
                    </p>
                    <p>
                        Une 'Computed Property' est calculée de manière
                        dynamique en fonction de la valeur d'autres propriétés
                    </p>
                </section>
                <button @click="isVisible = !isVisible">Cliquer ici</button>
                <p>
                    Ce bouton illustre ce que peut faire un 'computed property'
                </p>
                <p>
                    Créons un objet data et regardons ses propriétés en détail :
                </p>
                <pre><code class="hljs js">new Vue({
    el: '#app',

    data() {
        return {
            tasks: [
                { description: 'Faire des courses', done: true },
                { description: 'Reviser', done: false },
                { description: 'Lire mes emails', done: false },
                { description: 'Faire le menage', done: true },
            ],
        };
    },
});
</code></pre>
                <p>
                    On a un liste de tâches, certaines sont effectuées, d’autres
                    non.
                </p>
                <p>
                    On veut les afficher sur la page selon leur statut, le
                    problème est qu’avec une directive traditionelle v-for, on
                    ne peut pas les trier.
                </p>
                <p>C’est ici qu’interviennent les ‘computed properties’.</p>
                <p>
                    Le code, et les explications après :
                </p>
                <pre><code class="language-javascript">new Vue({
    el: '#app',

    data() {
        return {
            isVisible: true,
            tasks: [
                { description: 'Faire des courses', done: true },
                { description: 'Reviser', done: false },
                { description: 'Lire mes emails', done: false },
                { description: 'Faire le menage', done: true },
            ],
        };
    },

    computed: {
        // Filtrage des tasks en fonction du statut
        tasksNotDone() {
            return this.tasks.filter(task => !task.done);
        },

        tasksDone() {
            return this.tasks.filter(task => task.done);
        },
    },
});
</code></pre>
                <p>
                    <strong
                        >Petit rappel à propos de la fonction flèche :</strong
                    ><br />
                    <em
                        >Une fonction flèche sur une ligne effectue un retour
                        implicite des données.</em
                    >
                </p>
                <p>
                    L’argument de la fonction new Vue({}) est donc un objet, une
                    des propriétés de cet objet est <code>computed</code>
                </p>
                <p>
                    Cette propriété accepte des méthodes et elle retourne le
                    calcul de ces méthodes sous forme de propriétés de l’objet
                    data.<br />
                    Ainsi, on peut y accéder dans le template de la même manière
                    dont on accède aux data object.
                </p>
                <p>
                    Un exemple rendra le tout plus intelligible :<br />
                    On se sert des computed properties pour afficher les tâches
                    selon leur statut :
                </p>
                <p>
                    Lisez le code attentivement, on accède aux computed
                    properties directement en référençant le nom des méthodes.
                </p>
                <pre><code class="language-html">&lt;ul&gt;
    &lt;li
        v-for="task in tasksDone"
        v-text="task.description"
    &gt;&lt;/li&gt;
&lt;/ul&gt;<
&lt;h3&gt;Tasks Not Done&lt;/h3&gt;
&lt;ul&gt;
    &lt;li
        v-for="task in tasksNotDone"
        v-text="task.description"
    &gt;&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
                <p>
                    On passe la méthode en référence, dans la directive v-for,
                    et Vue.js fait le reste.
                </p>
                <h2>Filrer une liste de tâches selon le statut</h2>
                <h3>Tasks Done</h3>
                <ul>
                    <li
                        v-for="task in tasksDone"
                        v-text="task.description"
                    ></li>
                </ul>
                <h3>Tasks Not Done</h3>
                <ul>
                    <li
                        v-for="task in tasksNotDone"
                        v-text="task.description"
                    ></li>
                </ul>
            </div>
            <footer-template></footer-template>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
        <script>
            hljs.initHighlightingOnLoad();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="module">
            import HeaderTemplate from '../components/header.js';
            import FooterTemplate from '../components/footer.js';

            new Vue({
                el: '#app',
                components: { HeaderTemplate, FooterTemplate },
                data() {
                    return {
                        isVisible: true,
                        tasks: [
                            { description: 'Faire des courses', done: true },
                            { description: 'Reviser', done: false },
                            { description: 'Lire mes emails', done: false },
                            { description: 'Faire le menage', done: true },
                        ],
                    };
                },

                computed: {
                    //  applique une classe en fonction de la valeur de isVisible
                    classes() {
                        return this.isVisible ? 'active' : 'inactive';
                    },

                    // Filtrage des tasks en fonction du statut
                    tasksNotDone() {
                        return this.tasks.filter(task => !task.done);
                    },

                    tasksDone() {
                        return this.tasks.filter(task => task.done);
                    },
                },
            });
        </script>
    </body>
</html>
