<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Data Binding</title>
    </head>
    <body>
        <div id="app">
            <form action="" method="POST">
                <label for="email">Email</label>
                <input type="email" id="email" v-model="email" />
                <label for="pass">Password</label>
                <input type="password" id="pass" v-model="password" />
                <span class="email"></span>
                <span class="password"></span>
                <span class="phone"></span>
                <label for="phone">Phone</label>
                <input type="tel" id="phone" v-model="phone" />
                <button type="submit">Submit</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="data-binding.js"></script>
    </body>
</html>
